vm_name       = "tpl-debian-12"
guest_os_type = "debian12_64Guest"
iso_path      = "[Datastore1] iso/debian-12-amd64-netinst.iso"
iso_checksum  = "none"
cpus          = 2
ram_mb        = 2048
disk_size_mb  = 32768

ssh_username     = "automation"
answer_file      = "http/debian/preseed.cfg.pkrtpl.hcl"
answer_file_name = "preseed.cfg"

boot_command = [
  "<esc><wait>",
  "auto url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg interface=auto netcfg/get_hostname=packer-debian priority=critical<enter>"
]
